<!DOCTYPE html>
<html>
    <head>
        <title>Add inventory item</title>
    </head>
    <body>
        <h1>Add item:</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:red">{{msg}}</p>
                {%endfor%}
            {% endif %}
        {%endwith%}
        <form method="POST" enctype="multipart/form-data">
            <label>Enter Name:</label>
            <input type="text" name="name" placeholder="Enter item name" required><br/>

            <label>Upload image (optional):</label>
            <input type="file" name="image"><br/>

            <label>Enter Description:</label>
            <input type="text" name="description" placeholder="Enter item description" required><br/>

            <label>Enter Quantity:</label>
            <input type="number" name="quantity" placeholder="Enter item quantity" required><br/>

            <label>Enter Price:</label>
            <input type="number" name="price" placeholder="Enter item price" step="0.01" required><br/>

            <input type = "submit" value = "submit"/><br/>
        </form>
    </body>
</html>
