<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register account</title>
    </head>
    <body>
        <h1>Register store:</h1>
            <form method="POST" enctype="multipart/form-data">
                <label>Enter Name:</label>
                <input type="text" name="username" placeholder="Enter username" required><br/>

                <label>Enter Password:</label>
                <input type="text" name="user_password" placeholder="Enter password" required><br/>

                <label>Enter Store name:</label>
                <input type="text" name="store_name" placeholder="Enter store name" required><br/>

                <input type="submit" value="Register"><br/>
            </form>
    </body>
</html>